<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Podsistem2PU" transaction-type="JTA">
    <jta-data-source>projekatPodsistem2Resource</jta-data-source>
    <class>entiteti.Recenzija</class>
    <class>entiteti.Artikl</class>
    <class>entiteti.Sadrzi</class>
    <class>entiteti.Korpa</class>
    <class>entiteti.Kategorija</class>
  </persistence-unit>
</persistence>
